.p {
    transition: 0.4s ease-in;
}

.p1 {
    transition: 0.4s ease-in;
}

.p2 {
    transition: 0.4s ease-in;
}

.p3 {
    transition: 0.4s ease-in;
}

.p4 {
    transition: 0.4s ease-in;
}

.a {
    transition: 0.3s ease-in;
}

.a1 {
    transition: 0.3s ease-in;
}

.a2 {
    transition: 0.3s ease-in;
}

.a3 {
    transition: 0.3s ease-in;
}
